html, body  {
  width: 100%;
  height: 100%;
}

html{
  height: 100.1%;
}

* {
	padding:0;
 	margin: 0; 
 	font-family: Verdana,Arial,Helvetica, sans-serif;
	font-size: 1em;
}


body#pegaso  {
 	background: #CDD7CD;
 	font-size: 62.5%;
 	font-family:Verdana,Arial,Helvetica, sans-serif;
 	font-weight:normal;
 	font-style:normal;
	line-height:140%;
	text-align: center;
    color:#E6EBE6;
}

div#OuterShell{
	position:relative;
	height:100%;
	width:100%;
	text-align: center;
}


div#InnerShell{
	position:relative;
	margin:0 auto;
	width:1000px;
	text-align: left;
}

div#pageregionTop{
	position:relative;
	width:100%;
	height:180px;
}

div#Logo{
	position:absolute;
	top:19px;
	left:5px;
	height:111px;
	width:192px;
}

div#Metanavigation{
	position:absolute;
	top:115px;
	left:820px;
	height:15px;
}
div#Metanavigation a span{
	display:none;
}
div#Metanavigation a.printer{
	height:15px;
	width:19px;
	display:block;
	float:left;
	margin:0 10px 0 0;
	background:transparent url(print.gif) top left no-repeat;
}
div#Metanavigation a.printer:hover{
	background:transparent url(print_1.gif) top left no-repeat;
}
div#Metanavigation a.sitemap{
	height:15px;
	width:19px;
	float:left;
	display:block;
	margin:0 15px 0 0;
	background:transparent url(sitemap.gif) top left no-repeat;
}
div#Metanavigation a.sitemap .current,
div#Metanavigation a.sitemap.current,
div#Metanavigation a.sitemap:hover{
	background:transparent url(sitemap_1.gif) top left no-repeat;
}

div#Translate{
	position:absolute;
	top:118px;
	left:892px;
	height:15px;
	color:#809980;
}

div#Translate a{
	font-size:10px;
	font-weight:normal;
	color:#809980;
}
div#Translate a.current,
div#Translate a:hover{
	color:#030;
	text-decoration:none;
}

div#Channel{
	position:absolute;
	top:145px;
	left:0px;
	height:35px;
	width:1000px;
	background: transparent url(bg_navi.gif) top left no-repeat;
}
div#Channel ul{
	position:relative;
	top:0;
	left:0;
	margin:8px 0 0 12px;
	padding:0;
	height:11px;
}
div#Channel ul li{
	position:relative;
	top:0;
	left:0;
	font-size:11px;
	display:inline;
	float:left;
	list-style:none;
	padding:0 9px;
	border-right:1px solid #809980;
}

div#Channel a{
	font-weight:normal;
	color:#809980;
	text-decoration:none;
}

div#Channel a.current,
div#Channel a:hover,
div#Channel a:active{
	font-weight:normal;
	color:#FFFF00;
	text-decoration:none;
}

div#ContentShell{
	position:relative;
	top:0;
	left:0px;
	width:100%;
	clear:both;
	height:auto;
}

div#pageregionLeft{
	position:relative;
	top:0;
	left:0;
	width:200px;
	height:395px;
	overflow:auto;
	float:left;
	display:block;
	background:#030;
}

div#Macronavigation{
	position:relative;
	top:71px;
	left:9px;
	width:170px;
}
div#Macronavigation h2 {
	background:transparent url(airplane.gif) no-repeat scroll left top;
	color:#809980;
	font-weight:bold;
	height:15px;
	padding:0pt 0pt 0pt 25px;
}

div#Macronavigation ul.firstlevel{
	position:relative;
	top:0;
	left:0;
	margin:5px 0 0 25px;
	padding:0;
}
div#Macronavigation ul.firstlevel ul.nextlevel{
	margin:0px;
	padding:0;
}
div#Macronavigation ul li{
	position:relative;
	top:0;
	left:0;
	font-size:10px;
	list-style:none;
	margin:5px 0 0 0;
	padding:0;
}

div#Macronavigation ul.firstlevel ul.nextlevel li div{
	padding:0 15px;
	background-image: url(li_plus.gif);
	background-position:2px 4px;
	background-repeat:no-repeat;
}
div#Macronavigation ul.firstlevel ul.nextlevel li div.current{
	padding:0 15px;
	background-color:#4D714D;
	background-image: url(li_plus_1.gif);
	background-position:2px 4px;
	background-repeat:no-repeat;
}

div#Macronavigation ul.firstlevel ul.nextlevel ul.nextlevel li div{
	padding:0 15px;
	background-image: url(li_minus.gif);
	background-position:2px 4px;
	background-repeat:no-repeat;
}

div#Macronavigation ul.firstlevel ul.nextlevel ul.nextlevel li div.current{
	padding:0 15px;
	background-image: url(li_minus_1.gif);
	background-position:2px 4px;
	background-repeat:no-repeat;
}

div#Macronavigation li div.current{
	background-color:#4D714D;
}

div#Macronavigation ul.firstlevel li{
	padding:0;
	background:none;
}

div#Macronavigation a{
	font-size:10px;
	line-height:15px;
	display:block;
	clear:both;
	color:#809980;
	text-decoration:none;
}
div#Macronavigation a span{
	display:inline;
}
div#Macronavigation a:hover,
div#Macronavigation a:active{
 color:#FFFF00;
 text-decoration:none;
}

div#Macronavigation a.current{
	color:#000000;
	background:#4D714D;
}

div#pageregionMiddle{
	position:relative;
	top:0;
	left:0px;
	margin:0 0 0 5px;
	width:795px;
	float:right;
}

#HeadlineImage{
	position:relative;
	top:0;
	left:0px;
	height:395px;
	width:395px;
	overflow:hidden;
	float:left;
}
#pageregionContent{
	position:relative;
	top:0;
	left:0px;
	height:395px;
	width:395px;
	overflow:auto;
	background:#030;
	float:right;
}

#InnerContent{
	position:relative;
	top:0;
	left:0px;
	width:336px;
	margin:16px 0 0 19px;
}
	
div#Micronavigation{
	position:relative;
	top:0;
	left:0px;
	color:#809980;
 	margin:0 0 30px 0;
}
div#Micronavigation a:link,
div#Micronavigation a:visited,
div#Micronavigation span,
div#Micronavigation a{
 	font-size:9px;
 	line-height:12px;
	font-weight:normal;
	color:#809980;
 	text-decoration:none;
}

div#Micronavigation a:hover{
 	color:#FF0;
 	text-decoration:none;
}


div#pageregionRight{
	display:none;
}

div#pageregionBottom{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	clear:both;
	margin:10px 0;
}

div#bottomLeft{
	position:relative;
	top:0;
	left:0px;
	width:200px;
	float:left;
}

#bottomMeta{
	position:relative;
	top:0;
	left:0px;
	width:200px;
	background:#B3C2B3;
	color:#4D714D;
	height:100px;
}
#bottomMeta a{
	color:#4D714D;
	display:block;
	height:20px;
	line-height:11px;
	margin:0pt 0pt 5pt 30px;
	padding:0pt 0pt 0pt 30px;
	position:relative;
}
#bottomMeta a.executive {
	background:transparent url(executive.gif) no-repeat scroll left top;
}
#bottomMeta a.executive.current,
#bottomMeta a.executive .current,
#bottomMeta a.executive:hover {
	background:transparent url(executive_1.gif) no-repeat scroll left top;
}

#bottomMeta a.request{
	background: url(request.gif) top left no-repeat;
}
#bottomMeta a.request.current,
#bottomMeta a.request .current,
#bottomMeta a.request:hover {
	background:transparent url(request_1.gif) no-repeat scroll left top;
}
#bottomMeta a.faq{
	background: url(faq.gif) top left no-repeat;
}
#bottomMeta a.faq.current,
#bottomMeta a.faq .current,
#bottomMeta a.faq:hover {
	background:transparent url(faq_1.gif) no-repeat scroll left top;
}


#bottomMeta a.current,
#bottomMeta a:hover{
	color:#030;
	text-decoration:none;
}

#Copyright {
	font-size:9px;
	line-height:12px;
	color:#809980;
	text-align:center;
	margin:10px 0;
}
div#Copyright a{
 	font-size:9px;
 	line-height:12px;
	color:#809980;
 	text-decoration:none;
}

div#Copyright a:hover{
 color:#030;
 text-decoration:none;
}

div#bottomMiddle{
	position:relative;
	top:0;
	left:0px;
	margin:0 0 0 5px;
	width:795px;
	float:right;
}

#Teaser{
	position:relative;
	top:0;
	left:0px;
	width:795px;
}
.TeaserElement{
	position:relative;
	top:0;
	left:0px;
	width:395px;
	height:100px;
	overfow:hidden;
	float:left;
	margin:0 0px 10px 0;
	background:#B3C2B3;
}
.TeaserElement .image{
	width:130px;
	height:100px;
	overfow:hidden;
	float:left;
}
.TeaserElement .text{
	width:265px;
	height:100px;
	overfow:hidden;
	float:right;
}
.TeaserElement .text p{
	color:#4D714D;
	padding:10px 8px;
}
.TeaserElement .text p a{
	font-weight:bold;
	color:#4D714D;
}
.TeaserElement .text p a:hover{
	text-decoration:underline;
}

.TeaserElement .text h4{
	background:url(teaser_head.gif) top left no-repeat;
	height:25px;
	color:#030;
	font-size:11px;
	line-height:25px;
	padding:0pt 0pt 0pt 8px;
}

div.child{
	position:absolute;
	top:0;
	left:0;
	display:none;
	visibility:hidden;
	text-align:left;
	width:120px;
}

html>body div.child{
	width:auto;
}

div.child ul{
	position:relative;
	top:0;
	left:0;
	margin:0;
	padding:10px;
	background:transparent url(child_bg.png) top left repeat;
}

div.child ul li{
	position:relative;
	top:0;
	left:0;
	font-size:10px;
	list-style:none;
	margin:2px 0 0 0;
	padding:0;
}

div.child a,
div.child a:link,
div.child a:visited{
 font-size:10px;
 line-height:14px;
 color:#FFFFFF;
 text-decoration:none;
}

div.child a.current,
div.child a.current:link,
div.child a.current:hover,
div.child a.current:active,
div.child a.current:visited,
div.child a:hover,
div.child a:active{
 color:#FFFF00;
 text-decoration:none;
}

#pageregionBefore{
	height:auto;
	min-height:30px;
	width:100%;
/*	background: transparent url(headline.gif) bottom left repeat-x; */
	border-bottom: 1px dotted #FFFF00;
	margin-bottom: 0.5em;
}

h1.title{
	font-weight:normal;
	font-size:2.8em;
	line-height:30px;
	color:#FFFF00;
}

h2{
	font-size:10px;
	font-weight:normal;
	line-height:14px;
	color:#FFFF00;
}

i,em  {
	font-style:italic;
}

small, .small {
	font-size: 0.9em;
}

a,
a:link,
a:visited {
	color:#FFFF00;
	text-decoration:none;
}
#InnerContent a,
#InnerContent a:link,
#InnerContent a:visited {
	font-weight:bold;
}
a:hover,
a:active,
a:focus {
	color:#FFFF00;
	text-decoration:underline;
}

#InnerContent .ZMSTextarea,
#InnerContent p {
	margin:1em 0 ;
}

a img {
	border:none;
}

a.zoom img.zoom
	{
	width: 23px;
	height: 21px;
	background: url(/misc_/zms/zoom.gif);
	}


/***********************************************************************
Listen
***********************************************************************/
ul {
  list-style: square outside;
  margin: 0px 10px 15px;
  padding: 0px 30px;
}

ol {
  list-style: decimal outside;
  margin: 0px 10px 15px;
  padding: 0px 30px;
}
.ZMSTable {
	margin:0 !important;
	padding:0;
	border-collapse:collapse;
}
.ZMSTable p{
	margin:0 !important;
	padding:0;
}
.ZMSTable thead{
	magin:2px 0;
}
.ZMSTable thead tr.even{
	background:#4D714D;
}
.ZMSTable tr{
	margin:2px 0;
}
.ZMSTable th{
	color:white;
	font-weight:normal;
	padding:2px;
	border-bottom:2px solid #030;
}
.ZMSTable td{
	background:#809980;
	font-weight:normal;
	padding:2px;
	color:black;
}
th,td{
	text-align:left;
}

div.ZMSGraphic.left {
	text-align:left;
}
div.ZMSGraphic.right {
	text-align:right;
}
div.ZMSGraphic.center {
	text-align:center;
}
div.ZMSGraphic.floatleft {
	float:left;
	margin: 0 10px 0 0;
}
div.ZMSGraphic.floatright {
	float:right;
	margin: 0 0 0 10px;
}
div.ZMSGraphic.center {
	text-align:center;
}
div.graphic.alignleft {
	float:left;
	margin: 0 10px 0 0;
	text-align:right;
}
div.graphic.alignright {
	float:right;
	text-align:right;
	margin: 0 0 0 10px;
}
div.ZMSGraphic div.text {
	padding:0 4px;
}
div.ZMSGraphic div.text p{
	margin:0;
}


.faqitem{
	margin:1em 0;
}
#InnerContent .faqitem p.faqQuestion{
	margin:0 0 0em 0;
	font-weight:bold;
	color:#FFF;
}
#InnerContent .faqitem p.faqAnswer{
	margin:0 0 0.5em 0;
}

#ImageFade{
margin:0;
padding:0;
}
#ImageFade li{
	position:absolute;
	top:0;
	left:0;
}
.clerasil:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clerasil {display: inline-table;}



/* IE-Mac \*/
* html .clerasil {height: 1%;}
.clerasil {display: block;}
/* /IE-Mac */



